<style>
  a {
    text-decoration: none !important;
  }

  ul {
    display: flex;
    justify-content:flex-start; 
    list-style: none;
    padding: 0;
    margin: 0;
    /* margin-right:200px;  */
    /* background: #1bc2a2; */
  }
  .navbar .main-navigation ul li{



  }
  .navbar ul li {

    display: block;
    position: relative;
    float: left;
   

    /* background: #1bc2a2; */
  }

  /* This hides the dropdowns */

.navbar-brand{
margin-bottom: 20px;;
}
  li ul {
    display: none;
  }

  ul li a {
    padding: 10px;
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: black;
  }

  ul li a:hover {
    background: #75787a;
    color: white;
  }

  /* Display the dropdown */


  li:hover>ul {
    display: block;
    position: absolute;
  }

  li:hover li {
    float: none;
  }

  li:hover a {
    background: white;
  }

  li:hover li a:hover {
    background: #75787a;
    color: white;
  }

  .main-navigation li ul li {

    border-top: 0;
  }

  /* Displays second level dropdowns to the right of the first level dropdown */


  ul ul ul {
    left: 100%;
    top: 0;
  }

  /* Simple clearfix */

  .caret {
    margin-left: 6px;
  }

  ul:before,
  ul:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }

  ul:after {
    clear: both;
  }

  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .navbar-brand img{

  }
  .navbar{
    background-color: white;
    
  }
</style>


<div class="navbar navbar-default " role="navigation" >
  <div class="container">
    
    
   
    <div class="collapse navbar-collapse">

    </div>
  </div>
</div>
<p></p>



<p></p>